::ng-deep .handle-input-field .mat-form-field-outline-start{
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .handle-input-field .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}


::ng-deep .handle-input-field input.mat-input-element {

  border-left-color: #5b4c3d;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 10px;
  margin-bottom: 2px;
  color:#5b4c3d;
}

::ng-deep .p-5 {
  padding: 0 !important;
}

#company_logo {
  width: 300px;
  height: 180px;
}

.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 940px;
  height: 680px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("src/assets/shared/background.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.btn-meetdoc-sccuess-login {
  background-color: #5b4c3d;
  border-radius: 29px;
  color: white;
  text-transform: uppercase;
  width: 100%;
}

.meetdoc-copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #545454;
}

.register-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.register-left-card {
  width: 90%;
  height: 100%;
  background-image: url("src/assets/register/register-unsplash.jpg");
  background-size: cover;
}
.register-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b4c3d;
  font-weight: bold;
  text-space: 3px;
  padding-bottom: 20px;
}
