<div class=container>
  <div class="card login-card">
    <div class="login-left-card"></div>
    <div class="login-right-card" style="width:380px">
      <div class="login-logo">
        <img id="company_logo" src="assets/login/company_logo.png" alt="company_logo">
      </div>
      <form [formGroup]="myForm" #localForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
          <!--    Username field    -->
          <div class="flex-column handle-input-field">
            <label class="gray">E-Mail</label>
            <mat-form-field class="inputField-full-width" appearance="outline" color="primary">
              <mat-icon matPrefix class="green">mail_outline</mat-icon>
              <input class="gray" matInput aria-required="false" name="email" formControlName="email">
            </mat-form-field>

            <div class="flex-column handle-input-field">
              <label class="gray">Password</label>
              <mat-form-field class="inputField-full-width" appearance="outline" color="primary">
                <mat-icon matPrefix class="green">lock</mat-icon>
                <input class="gray" type="password" matInput aria-required="false" name="password"
                       formControlName="password">
              </mat-form-field>
            </div>

            <div class="flex-column handle-input-field">
              <label class="gray">Confirm Password</label>
              <mat-form-field class="inputField-full-width" appearance="outline" color="primary">
                <mat-icon matPrefix class="green">lock</mat-icon>
                <input class="gray" type="password" matInput aria-required="false" name="confirmPassword"
                       formControlName="confirmPassword">
              </mat-form-field>
            </div>


            <button mat-button class="btn-meetdoc-sccuess-login" type="submit" [disabled]="myForm.invalid">Confirm</button>
          </div>




        </div>
      </form>
    </div>
  </div>
</div>
<div>
  <p class="meetdoc-copyright">&copy; 2022 Account Management System, All Rights Reserved . Designed & Developed by Abdullah Hegab</p>
</div>
